﻿.admin-profile-card {
    text-align: center;
    border: 1px solid #8080801f;
    margin: 50px 75px;
}

.admin-profile-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #30caa0;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: 30px auto;
}

.admin-profile-text {
    font-weight: bold;
}

.admin-name {
    background-color: #30caa0;
    padding: 5px;
}

.admin-info {
    border: 1px solid #8080801f;
    margin: 50px 0px;
}

.admin-info-head {
    background-color: #30caa0;
    padding: 5px;
    text-align: center;
}

