﻿.admin-login h2 {
    margin-top: 169px;
    text-align: center;
    color: #30caa0;
}

.login-form {
    margin: 55px 450px;
}

.input-test {
    border: none;
    border-bottom: 2px solid #30caa0;
    border-radius: unset;
    box-shadow: none;
    background-color: transparent;
}

.login-btn {
    background-color: #30caa0;
    color: white;
    border-color: #2e6da4;
    font-weight: bold;
}

.admin-heading {
    padding-top: 15px;
    padding-bottom: 20px;
}

.admin-heading h1 {
    color: #30caa0;
    text-align: center;
    padding-bottom: 50px;
}

.admin-heading .serach-form {
    padding-bottom: 60px;
}

.admin-heading .search-btn {
    background-color: #30caa0;
    color: white;
    border-color: #2e6da4;
    font-weight: bold;
}

.admin-heading .btn-primary {
    background-color: #30caa0;
}

.table-hover {
    /*background-color: #30caa0;*/
}

.table-hover:hover {
    /*background-color: black;*/
}

.admin-table-head {
    background-color: #30caa00f;
}
