﻿.dashboard-sidebar {
    display: inline-grid;
    background-color: #000000b3;
    height: 100%;
    position: fixed;
    padding: 0px;
}

.sidebar-nav {
    display: inline-grid;
    width: 100%;
}

    .sidebar-nav a {
        text-decoration: none;
        color: #30caa0;
        padding: 10px 35px;
    }

        .sidebar-nav a:hover {
            background-color: #30caa0;
            color: black;
        }

.dashboard-body {
    float: right;
}


