﻿.footer {
    background-color: #000000bf;
}

.contact-us {
    padding: 50px 0px;
}

.contact-us h3 {
    color: #30caa0;
    padding-left: 38px;
    padding-bottom: 15px;
}

    .contact-us li {
        color: #30caa0;
        list-style: none;
        padding-bottom: 5px;
    }

    .contact-us a {
        color: #30caa0;
        text-decoration: none;
    }

    .contact-us .social-icon {
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
    }

    .contact-us .social-icon a {
        margin: 15px;
    }

.about-us {
    padding: 50px 0px;
}

.copyright {
    background-color: #00000045;
    color: #30caa061;
}

.copyright p {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
