﻿/*Header Image*/
.index-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

    /*Header Image Overlay*/
header::before {
    content: "";
    position: absolute;
    background: #00000073;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Menu*/
.index-nav {
    background-color: #30caa08c;
    transition: 750ms ease;
}

    /*Menu Scroll Effect*/
    .index-nav.scrolled {
        background-color: white;
        box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08) !important;
    }

    .index-nav a {
        text-decoration: none;
    }

        .index-nav a:hover {
            color: #30caa0;
        }

        .index-nav a:focus{
            color: white;
        }

.top-nav {
    padding: 15px 0px;
    border-bottom: 1px solid #30caa057;
    transition: 750ms ease;
}

    .top-nav.scrolled {
        /*background-color: #f9f9ff;*/
        background-color: #30caa0;
    }

/*Menu Text White*/
.index-nav-text {
    color: white;
}
    /*Menu Text Black*/
    .index-nav-text.scrolled {
        color: black;
    }

.fa-phone {
    transform: rotate(90deg);
}

/*top Social Icons*/
.top-menu-social{
    text-align: right;
}

    .top-menu-social a {
        padding-right: 15px;
    }

/*Login Button Border*/
.index-nav .log-reg {
    border-left: 1px solid white;
    text-align: center;
}

.bottom-nav {
    padding: 30px 0px;
}

.navbar {
    margin: 0px auto;
}

.navbar-brand {
    padding: 0px 0px;
}

    /*Logo*/
    .navbar-brand img {
        width: 75px;
    }

.icon-bar {
    background-color: white;
}

/*Bottom Right Nav*/
.index-nav .navbar-nav {
    float: right;
    padding: 15px 35px;
    text-transform: uppercase;
}

.nav-item {
    padding: 0px 20px;
    text-align: center;
}

.index-search {
    background-color: #9fe4d11f;
    margin-top: -429px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08) !important;
    position: relative;
    color: white;
}

    .index-search h1 {
        font-weight: 900;
        color: white;
        padding: 20px;
        text-align: center;
    }

.index-search-btn {
    margin: 20px;
    background-color: #30caa0;
    color: white;
}

.places-index {
    padding: 60px 0px;
    background-color: #30caa00f;
    margin-top: 82px;
}

    .places-index h1 {
        color: #30caa0;
        text-align: center;
    }

.cont {
    margin: 20px auto;
}

.images {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38vh;
    
}

    .images::before {
        content: "";
        position: absolute;
        bottom: 0px;
        right: 15px;
        left: 15px;
        background: #30caa070;
        height: 12vh;
        /*transform: rotate(1.5deg);*/
        z-index: 1;
    }

.cont:hover .images::before {
    bottom: 0;
    top: 0;
    height: 100%;
    width: 93%;
    background: #30caa070;
    z-index: 1;
}

.img-cont {
    z-index: 11;
    color: white;
    padding: 205px 35px 0px 68px;
}

.place-image img {
    width: 100%;
    margin: 20px auto;
}

/*Modal*/
.modal-body {
    padding: 0px;
}

.modal-image {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

    .modal-image::before {
        content: "";
        position: absolute;
        background-image: linear-gradient(to top,#30bccaf2,#30caa0);
        opacity: .6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.modal img {
    width: 100%;
    height: 100%;
}

.modal-form h1 {
    text-align: center;
    color: #30caa0;
}

.modal-form form {
    padding: 0px 29px;
    margin: 0 auto;
}

.modal-form .btn-primary {
    background-color: #30caa0;
}

.login-modal-image {
    height: 60vh;
}




