﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Custom CSS*@
    @Styles.Render("~/Style/css")
</head>

<body>

    @*@if (Session["Id"] == null)
    {
    Response.Redirect("~/Admin/Index");
    }*@

    <!-- Dashboard Side Nav Start-->
    <nav class="dashboard-sidebar col-md-2">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @*<div class="collapse navbar-collapse">*@
        <div class="sidebar-nav">
            <a class="" href="~/Admin/AdminDashboard"><i class="fas fa-home"></i> &nbsp;<b>Dashboard</b><span class="sr-only">(current)</span></a>
            <a class="" href="~/Admin/AdminList"><i class="fas fa-users"></i> &nbsp;<b>Admin</b></a>
            <a class="" href="~/Admin/HotelList"><i class="fas fa-hotel"></i> &nbsp;<b>Hotel</b></a>
            <a class="" href="~/Admin/UserList"><i class="fas fa-users"></i> &nbsp;<b>User</b></a>
            <a class="" href="~/Admin/ActorList"><i class="fas fa-users"></i> &nbsp;<b>Actors</b></a>
            <a class="" href="~/Admin/HotelRatingList"><i class="far fa-star"></i> &nbsp;<b>Rating</b></a>
            <a class="" href="~/Admin/HotelAmenityList"><b>Hotel Amenity</b></a>
            <a class="" href="~/Admin/RoomTypeList"><b>Room Type</b></a>
            <a class="" href="~/Admin/RoomAmenityList"><b>Room Amenity</b></a>
            <a class="" href="~/Admin/AreaList"><b>Area</b></a>
            <a class="" href="~/Admin/DistrictList"><b>District</b></a>
            <a class="" href="~/Admin/DivisionList"><b>Division</b></a>
            <a class="" href="~/Admin/PaymentMethodList"><b>Payment Method</b></a>
            <a class="" href="@Url.Action("LogOut")"><i class="fas fa-sign-out-alt"></i> &nbsp;<b>Logout</b></a>
        </div>
        @*</div>*@
    </nav>
    <!-- Dashboard Side Nav End-->

    <div class="dashboard-body col-md-10">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        //Delete
        $(document).on("click", ".openDiag", function () {
            var empid = $(this).data("id");
            $(".modal-footer #Id").val(empid);
        });
        //Update
        $(document).on("click", ".open-dialog", function () {
            var empid = $(this).data("id");
            $(".modal-body #Id").val(empid);
        });
    </script>
</body>
</html>