﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Custom CSS*@
    @Styles.Render("~/Style/css")
</head>

<body>

    <!-- Foooter Start -->
    <footer class="footer">
        <div class="container">
            <div class="row contact-us">

                <!-- Contact Us Start -->
                @*<div class="col-md-6">*@
                    <div class="col-md-offset-2 col-md-10">

                        <!-- Email -->
                        <div class="col-md-6">
                            <h3><b>Email</b></h3>

                            <ul>
                                <li><a href="#">mashuka.meem@gmail.com</a></li>
                                <li><a href="#">admin.hrs@gmail.com</a></li>
                                <li><a href="#">admin@gmail.com</a></li>
                                <li><a href="#">hrs.admin@gmail.com</a></li>
                            </ul>
                        </div>

                        <!-- Phone -->
                        <div class="col-md-6">
                            <h3><b>Contact No</b></h3>

                            <ul>
                                <li><a href="#">01864421902</a></li>
                                <li><a href="#">01621247616</a></li>
                                <li><a href="#">01521213872</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row social-icon">
                        <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
                        <a href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                @*</div>*@
                <!-- Contact Us End -->
            </div>
        </div>


        <div class="container-fluid">
            <div class="row copyright">
                <p>&copy; @DateTime.Now.Year - Hotel Reservation System</p>
            </div>
        </div>
    </footer>
    <!-- Foooter End -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>