﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    @*Custom CSS*@
    @Styles.Render("~/Style/css")
</head>

<body>
    <!-- Dashboard Side Nav Start-->
    <nav class="dashboard-sidebar col-md-2">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        @*<div class="collapse navbar-collapse">*@
        <div class="sidebar-nav">
            <a class="" href="~/Hotel/HotelDashboard"><i class="fas fa-home"></i> &nbsp;<b>Dashboard</b><span class="sr-only">(current)</span></a>
            <a class="" href="~/Hotel/RoomList"> &nbsp;<b>Room</b></a>
            <a class="" href="~/Hotel/ReservationList"><i class="fas fa-users"></i> &nbsp;<b>Reservation</b></a>
            <a class="" href="~/Hotel/ConfirmReservation"><i class="fas fa-users"></i> &nbsp;<b>Confirm Reservation</b></a>
            <a class="" href="~/Hotel/AccountList"><i class="fas fa-money-check-alt"></i> &nbsp;<b>Account</b></a>
            <a class="" href="~/Home"><i class="fas fa-sign-out-alt"></i> &nbsp;<b>Logout</b></a>
        </div>
        @*</div>*@
    </nav>
    <!-- Dashboard Side Nav End-->

    <div class="dashboard-body col-md-10">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        //Delete
        $(document).on("click", ".openDiag", function () {
            var empid = $(this).data("id");
            $(".modal-footer #Id").val(empid);
        });
        //Update
        $(document).on("click", ".open-dialog", function () {
            var empid = $(this).data("id");
            $(".modal-body #Id").val(empid);
        });
    </script>
</body>
</html>