﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Custom CSS*@
    @Styles.Render("~/Style/css")
</head>
<body>
    @*@Html.Partial("~/Views/Shared/")*@
    <div class="">
        @RenderBody()


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @*Index Menu Scroll Effect*@
    <script>
        $(window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 560)
        });
    </script>

    <script>
        $(window).scroll(function () {
            $('a').toggleClass('scrolled', $(this).scrollTop() > 560)
        });
    </script>

    <script>
        $(window).scroll(function () {
            $('div').toggleClass('scrolled', $(this).scrollTop() > 560)
        });
    </script>

    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>

    <script type="text/javascript">
        //Delete
        $(document).on("click", ".openDiag", function () {
            var empid = $(this).data("id");
            $(".modal-footer #Id").val(empid);
        });
        //Update
        $(document).on("click", ".open-dialog", function () {
            var empid = $(this).data("id");
            $(".modal-body #Id").val(empid);           
        });
    </script>
</body>
</html >
