﻿<section class="index-top" style="background-image:url(../Images/index-bg1.jpeg)">
    <div class="navbar-fixed-top scrollmenu">
        @*Top Menu*@
        <div class="top-menu">
            <div class="row">

                @*Top Menu Contact*@
                <div class="col-md-2 hidden-xs">
                    <span class="glyphicon glyphicon-earphone"></span><a class="scrollmenu" href="#">(+88)01864421902</a>
                </div>

                @*Top Menu Email*@
                <div class="col-md-2 hidden-xs">
                    <span class="glyphicon glyphicon-envelope"></span><a class="scrollmenu" href="#">admin@gmail.com</a>
                </div>

                @*Top Menu Right*@
                <div class="col-md-8">
                    <div class="top-right">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-4 hidden-xs">
                                <a class="scrollmenu" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a class="scrollmenu" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                <a class="scrollmenu" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                <a class="scrollmenu" href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a>
                                <a class="scrollmenu" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <a href="Registration" class="border scrollmenu"><i class="fas fa-user-circle"></i>Register</a>
                                <a href="Login" class="border scrollmenu"><i class="fas fa-sign-in-alt"></i>Login</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        @*Top Menu*@
        <div class="navbar navbar-primary">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand scrollmenu" href="#"><img src="~/Images/logo_h.png" alt="logo" /></a>
                </div>
                <div class="navbar-collapse collapse scrollmenu">
                    <ul class="nav navbar-nav">
                        <li><a class="scrollmenu" href="#">Home</a></li>
                        <li><a class="scrollmenu" href="#">About</a></li>
                        <li><a class="scrollmenu" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>