﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel Reservation System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Custom CSS*@
    @Styles.Render("~/Style/css")
</head>

<body>
    @*@if (Session["Id"] == null)
        {
        Response.Redirect("~/Admin/Index");
        }*@

    <!-- Header Start -->
    <header class="user-header">
        <nav class="user-nav navbar-fixed-top">

            <!-- Top Nav Start -->
            @*<div class="user-top-nav">
                    <div class="container">
                        <div class="row">
                            <!-- Search Button -->
                            <div class="col-md-offset-8 col-md-2 log-reg">
                                <a class="user-nav-text" href="~/Home/HotelSearch"><i class="fas fa-search"></i> &nbsp;<b>Reserve Now</b></a>
                            </div>

                            <!-- Logout Button -->
                            <div class="col-md-2 log-reg">
                                <a class="user-nav-text" href="~/Home/Index"><i class="fas fa-sign-out-alt"></i> &nbsp;<b>Logout</b></a>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- Top Nav End -->
            <!-- Bottom Nav Start -->
            <div class="user-bottom-nav">
                <div class="container navbar navbar-expand-lg navbar-light bg-light">
                    @*<a class="navbar-brand" asp-controller="Home" asp-action="Home"><img src="~/Images/logo_h.png" alt="Logo" /></a>*@
                    <a class="navbar-brand" href="~/Home/Index"><i class="fas fa-h-square" style="font-size: 50px; color: #30caa0"></i></a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link user-nav-text active" href="~/Home/Dashboard"><b>Profile</b><span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link user-nav-text" href="~/Home/Hotels"><b>Hotels</b></a>
                            <a class="nav-item nav-link user-nav-text" href="~/Home/Reservations"><b>Reservations</b></a>
                            <a class="nav-item nav-link user-nav-text" href="~/Home/HotelSearch"><b>Reserve Now</b></a>
                            <a class="nav-item nav-link user-nav-text" href="~/Home/Test"><b>Test</b></a>
                            <a class="nav-item nav-link user-nav-text" href="@Url.Action("LogOut")"><b>Logout</b></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bottom Nav End -->
        </nav>
    </header>
    <!-- Header End -->

    <div class="user-body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //Delete
        $(document).on("click", ".openDiag", function () {
            var empid = $(this).data("id");
            $(".modal-footer #Id").val(empid);
        });
        //Update
        $(document).on("click", ".open-dialog", function () {
            var empid = $(this).data("id");
            $(".modal-body #Id").val(empid);
        });
       
    </script>
</body>
</html>