﻿.user-header {
    position: relative;
}

.user-nav a {
    text-decoration: none;
}

    .user-nav a:hover {
        color: #30caa0;
    }

    .user-nav a:focus {
        color: white;
    }

.user-nav .navbar-nav {
    float: right;
    padding: 15px 35px;
    text-transform: uppercase;
}

.user-nav .log-reg {
    border-left: 1px solid black;
    text-align: center;
}

.user-top-nav {
    padding: 15px 0px;
    border-bottom: 1px solid #30caa057;
    background-color: #30caa0;
}

.user-top-nav a:hover {
    color: white;
}

    .user-top-nav .log-reg {
        text-align: center;
    }

.user-nav-text {
    color: black;
}

.user-bottom-nav {
    padding: 25px 0px;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08) !important;
}

.user-search {
    background-color: white;
    position: relative;
}

.user-body {
    margin-top: 153px;
    padding-top: 60px;
}
