﻿.hotel {
    background-color: #30caa00f;
    margin-bottom: 25px;
}

.hotel-image {
    padding: 20px 34px;
}

.hotel-image img {
    width: 359px;
}

.hotel-info {
    padding: 20px 0px;
}

.hotel-info h3 {
    padding-bottom: 20px;
}

    .hotel-info a {
        color: black;
    }

    .hotel-info .hotel-amenities {
        padding-top: 15px;
    }

        .hotel-info .hotel-amenities .amenity {
            padding: 0px 15px;
            text-align: center;
        }

    .hotel-info .hotel-amenities i {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .hotel-info .room-btn {
        background-color: #30caa0;
        float: right;
        margin: 102px 65px 102px 0px;
        padding: 6px 45px;
    }

    .hotel-info .room-btn a {
        color: white;
    }
