﻿.hotel-details {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: -111px;
}

    .hotel-details::before {
        content: "";
        position: absolute;
        background: #00000057;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.hotel-information {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color:white;
    text-align: center;
}

    .hotel-information p {
        padding: 20px 130px;
        line-height: 2;
    }
