﻿.payment-info {
    text-align: center;
}

.confirm-payment {
    background-color: #30caa00f;
    padding: 50px;
    margin: 40px;
}

    .confirm-payment h2 {
        text-align: center;
        color: #30caa0;
    }

    .confirm-payment form {
        padding-top: 30px;
    }
