﻿.room-details {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top: -80px;
}
.room-details::before {
    content: "";
    position: absolute;
    background: #00000057;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.room {
    background-color: white;
    padding: 10px 110px;
    margin-top: -105px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.08) !important;
    position: relative;
}

.reservation {
    background-color: #30caa00f;
    margin-top: -140px;
    padding-top: 175px;
}

    .reservation h1 {
        text-align: center;
        color: #30caa0;

    }

    .reservation form {
        padding: 65px 220px;
    }

.reserve-btn {
    margin: 50px 341px;
}

    .reserve-btn button {
        background-color: #30caa0;
    }
