﻿@model IEnumerable<HotelReservationSystem.Models.Actor>

@{
    ViewBag.Title = "Actor List";
}

@{
    Layout = "~/Views/Shared/_admin-sideNav.cshtml";
}

<div class="admin-heading">

    <!-- Page Headline -->
    <h1>Actor List</h1>

    <!-- List Search Form Start-->
    <form class="serach-form"  method="get" action="/Admin/ActorList">
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3">
                <input type="text" class="form-control" name="searching" placeholder="Search">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" class="form-control search-btn" placeholder="Search" value="Search">
            </div>
        </div>
    </form>
    <!-- List Search Form End-->
    <!-- Add New Button -->
    <button class="btn btn-primary" data-toggle="modal" data-target=".actor-modal"><i class="fas fa-plus-circle"></i> &nbsp;<b>New Actor</b></button>
</div>

<!-- Actor Modal Start -->
<div class="modal fade actor-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Add New Actor</b></h1>

                        <form method="post" action="/Admin/CreateActor" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Actor Type</label><span class="required" style="color:red"><b>*</b></span>
                                <input type="text" name="Type" class="form-control" placeholder="Enter Actor Type" required="required">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Add" class="form-control btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Actor Modal End -->
<!-- Actor List Table Start -->
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead class="admin-table-head">
            <tr>
                <th>Id</th>
                <th>Actor Type</th>
                <th>Last Edit</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
            <tr>
                <td>No Matching Data</td>
            </tr>
            }
            else
            {
                foreach (var item in Model)
                {
            <tr>
                <td class="showDetails pointer">@item.Id</td>
                <td class="showDetails pointer">
                    @if (@item.Type == null)
                    {
                        <p>No Actor Type</p>
                    }
                    else
                    {
                        <p>@item.Type</p>
                    }
                </td>
                <td class="showDetails pointer">
                    @if (@item.EditDate == null)
                    {
                        <p>No Date</p>
                    }
                    else
                    {
                        <p>@item.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm open-dialog" data-toggle="modal" data-target="#Update" data-id="@item.Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit</button>
                    <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="@item.Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                </td>
            </tr>
                }
            }

        </tbody>
    </table>
</div>
<!-- Actor List Table End -->
<!-- Actor Edit Modal Start -->
<div class="modal fade actor-edit-modal" id="Update" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit Actor</b></h1>

                        <form method="post" action="/Admin/EditActor">
                            <div class="form-group">
                                <label for="Name">Id</label>
                                <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="Name">Actor Type</label>
                                <input type="text" name="Type" class="form-control" placeholder="Enter Actor Type">
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Edit" class="form-control btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Actor Modal End -->
<!-- Delete Modal Start -->
<div class="modal fade" id="Delete" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>

            </div>

            <div class="modal-body">
                <p><h3>Are you sure you want to delete this?</h3></p>
                
            </div>
            <div class="modal-footer">
                <form method="post" action="/Admin/DeleteActor">
                    <div class="form-group">
                        <label for="Name">Id</label>
                        <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button class="btn" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal end -->
