﻿@model IEnumerable<HotelReservationSystem.Models.Admin>

@{
    ViewBag.Title = "Admin List";
}

@{
    Layout = "~/Views/Shared/_admin-sideNav.cshtml";
}

<div class="admin-heading">

    <!-- Page Headline -->
    <h1>Admin List</h1>

    <!-- List Search Form Start-->
    <form class="serach-form" method="post" action="" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3">
                <input type="text" class="form-control" id="Search" placeholder="Search">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
            </div>
        </div>
    </form>
    <!-- List Search Form End-->
    <!-- Add New Button -->
    <button class="btn btn-primary" data-toggle="modal" data-target=".admin-modal"><i class="fas fa-plus-circle"></i> &nbsp;<b>New Admin</b></button>
</div>

<!-- Admin Modal Start -->
<div class="modal fade admin-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Add New Admin</b></h1>

                        <form method="post" action="/Admin/CreateAdmin">

                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name="Email" placeholder="Enter Email Address">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="Enter Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Admin Modal End -->
<!-- Admin List Table Start -->
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead class="admin-table-head">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Join Date</th>
                <th>Last Edit</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="showDetails pointer">@item.Id</td>
                    <td class="showDetails pointer">
                        @if (@item.Name == null)
                        {
                            <p>No Name</p>
                        }
                        else
                        {
                            <p>@item.Name</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.Image == null)
                        {
                            <img src="~/Images/no-image-found.jpg" style="width:200px;" />
                        }
                        else
                        {
                            <img src=@Url.Content(@item.Image) style="width:200px;" />
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.Email == null)
                        {
                            <p>No Email Address</p>
                        }
                        else
                        {
                            <p>@item.Email</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.Contact == null)
                        {
                            <p>No Contact Number</p>
                        }
                        else
                        {
                            <p>@item.Contact</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.JoinDate == null)
                        {
                            <p>No Date</p>
                        }
                        else
                        {
                            <p>@item.JoinDate.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.EditDate == null)
                        {
                            <p>No Date</p>
                        }
                        else
                        {
                            <p>@item.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>

                    <td>
                        <button type="button" class="btn btn-primary btn-sm openDiag" data-toggle="modal" data-target="#Block" data-id="@item.Id"><span class="glyphicon glyphicon-ban-circle" style="vertical-align:middle;margin-top: -5px"></span> Block</button>
                        <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="@item.Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Admin List Table End -->

<!-- Delete Modal Start -->
<div class="modal fade" id="Delete" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>

            </div>

            <div class="modal-body">
                <p><h3>Are you sure you want to delete this?</h3></p>

            </div>
            <div class="modal-footer">
                <form method="post" action="/Admin/DeleteAdmin">
                    <div class="form-group">
                        <label for="Name">Id</label>
                        <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button class="btn" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal end -->