﻿@model HotelReservationSystem.Models.Admin

@{
    ViewBag.Title = "Admin Dashboard";
}

@{
    Layout = "~/Views/Shared/_admin-sideNav.cshtml";
}


<!-- Admin Profile Start-->
<div class="row">

    <!-- Profile Card Start-->
    <div class="col-md-5">
        <div class="admin-profile-card">

            <!-- Profile Card Image -->
            <div class="admin-profile-image" style="background-image:url(
                    @if (@Model.Name == null)
                    {
                        @Url.Content("/Images/no-image-found.jpg")
                    }
                    else
                    {
                        @Url.Content(@Model.Image)
                    }
                 )">
            </div>

            <!-- Profile Card Text -->
            <div class="admin-profile-text">
                <h5>Admin</h5>
                <h5>Id #@Model.Id</h5>
                <div class="admin-name">
                    @if (@Model.Name == null)
                    {
                        <h4><b>No Name</b></h4>
                    }
                    else
                    {
                        <h4><b>@Model.Name</b></h4>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Card End -->
    <!-- Personal Information Start-->

    <div class="col-md-7">
        <div class="admin-info">
            <div class="admin-info-head">
                <h4><b>Personal Information</b></h4>
            </div>
            <div class="admin-info-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.Email == null)
                                {
                                    <p>No Email Address</p>
                                }
                                else
                                {
                                    <p>@Model.Email</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Contact:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.Contact == null)
                                {
                                    <p>No Contact Number</p>
                                }
                                else
                                {
                                    <p>@Model.Contact</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Joined:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.JoinDate == null)
                                {
                                    <p>No Date</p>
                                }
                                else
                                {
                                    <p>@Model.JoinDate.Value.ToString("dd-MMM-yyyy")</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Last Edit:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.EditDate == null)
                                {
                                    <p>No Date</p>
                                }
                                else
                                {
                                    <p>@Model.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Personal Information End -->
</div>
<!-- Admin Profile End -->

<button type="button" class="btn btn-primary hotel-edit-btn btn-sm open-dialog" data-toggle="modal" data-target="#Update" data-id="@Model.Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit Admin Information</button>
@*@Html.ActionLink("Edit", "#", new { id=Model.Id }, new { @class = "btn btn-primary hotel-edit-btn btn-sm open-dialog", @data_toggle = "modal", @data_target = "#Update", @data_id = @Model.Id })*@
<!-- Admin Dashboard Edit Modal Start -->
<div class="modal fade hotelDashboard-edit-modal" id="Update" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal-form">
                        <h1><b>Edit Admin Information</b></h1>

                        <form method="post" action="/Admin/EditAdmin" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Id</label>
                                <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                            </div>
                            
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" name="Name" placeholder="@Model.Name">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" name="Image" placeholder="@Model.Image">
                            </div>

                            <div class="form-group">
                                <label for="Age">Email</label>
                                <input type="email" class="form-control" name="Email" placeholder="@Model.Email">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Contact No</label>
                                <input type="number" class="form-control" name="Contact" placeholder="@Model.Contact">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="@Model.Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Admin Dashboard Modal End -->
<!-- User Confirmation Start -->
<div class="admin-notification">
    @*<h1>New Users</h1>*@


</div>
<!-- User Confirmation End -->
<!-- Dashboard Body End-->
