﻿@model HotelReservationSystem.Models.Room


<form method="post" action="/Home/AddorEdit" enctype="multipart/form-data">
    <input type="hidden" name="Id" id="Id">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Hotel</label>
        @*@Html.DropDownList("HotelId", null, htmlAttributes: new { @class = "form-control" })*@
    </div>
    <div class="form-group">
        <label for="RoomNo">Room No</label>
        <input type="text" class="form-control" name="RoomNo" placeholder="Enter Room No">
    </div>

    <div class="form-group">
        <label for="Name">Description</label>
        <input type="text" class="form-control" name="Description" placeholder="Enter Description">
    </div>

    <div class="form-group">
        <label for="Image">Image</label>
        <input type="file" class="form-control" name="Image" placeholder="Upload Image">
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect1">Room Type</label>
        <div style="width:100%">
            @Html.ListBoxFor(model => model.RoomTypeIdsArray, new MultiSelectList(Model.RoomTypeIds, "Id", "Name"), new { id = "multiSelectDropdown", multiple = "multiple" })

        </div>
    </div>

    <div class="form-group">
        <label for="exampleFormControlSelect2">Select Room Amenities</label>
        @*@Html.DropDownList("RoomAmenityId", null, htmlAttributes: new { @class = "form-control" })*@
    </div>

    <div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" name="Price" placeholder="Enter Price">
    </div>

    <div class="form-group">
        <input type="submit" class="form-control btn-primary" value="Add">
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%"
            });
        });
</script>
}
