﻿@model HotelReservationSystem.Models.User

@{
    ViewBag.Title = "User Profile";
}

<!-- Header -->
@{
    Layout = "~/Views/Shared/_user-header.cshtml";
}


<!-- Notification -->
<div class=" container notification">
    <div class="row">
        <div class="col-md-8">
            <h3>You have 1 pending reservation</h3>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary hotel-edit-btn"><a href="~/Home/PendingReservation">Pending Reservation</a></button>
        </div>
    </div>
</div>

<!-- User Profile Start -->
<div class="container">
    <div class="row">
        <!-- Profile -->
        <div class="col-md-6">
            <div class="col-md-3">
                <label>Guest Id:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.Id</p>
            </div>

            <div class="col-md-3">
                <label>Name:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.Name</p>
            </div>

            <div class="col-md-3">
                <label>Email:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.Email</p>
            </div>

            <div class="col-md-3">
                <label>Contact No:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.Contact</p>
            </div>

            <div class="col-md-3">
                <label>Joined:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.JoinDate</p>
            </div>

            <div class="col-md-3">
                <label>Last Edit:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.EditDate</p>
            </div>

            <div class="col-md-3">
                <br />
                <br />
                <br />
                <button type="button" class="btn btn-primary hotel-edit-btn btn-sm openDiag" data-toggle="modal" data-target=".userProfile-edit-modal" data-id="Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit Profile</button>
            </div>
        </div>
        <!-- User Profile End -->
        <!-- Image -->
        <div class="col-md-6">
            <div class="user-pic">
                <img src=@Url.Content(Model.Image) alt="Profile Picture" />
            </div>
        </div>
    </div>
</div>
<!-- User Profile End -->
<!-- User Profile Edit Modal Start -->
<div class="modal fade userProfile-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit User Profile</b></h1>

                        <form>
                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" id="Image" placeholder="Upload Your Image">
                            </div>

                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="Enter Your Email Address">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Contact No</label>
                                <input type="number" class="form-control" id="Contact" placeholder="Enter Your Contact No">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Password</label>
                                <input type="password" class="form-control" id="Password" placeholder="Enter Your Password">
                            </div>

                            <div class="form-group">
                                <label for="Date">Date</label>
                                <input type="date" class="form-control" id="AddDate" placeholder="Date">
                            </div>

                            <div class="form-group">
                                <input type="button" class="form-control btn-primary" id="submit" placeholder="Save" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Profile Modal End -->
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")
