﻿@model HotelReservationSystem.Models.User

@{
    ViewBag.Title = "User Profile";
}

<!-- Header -->
@{
    Layout = "~/Views/Shared/_user-header.cshtml";   
}

<!-- Notification -->
<div class=" container notification">
    <div class="row">
        <div class="col-md-8">
            <h3>You have 1 pending reservation</h3>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary hotel-edit-btn"><a href="~/Home/PendingReservation">Pending Reservation</a></button>
        </div>
    </div>
</div>

<!-- User Profile Start -->
<div class="container">
    <div class="row">
        <!-- Profile -->
        <div class="col-md-6">
            <div class="col-md-3">
                <label>Id:</label>
            </div>
            <div class="col-md-9">
                <p>@Model.Id</p>
            </div>

            <div class="col-md-3">
                <label>Name:</label>
            </div>
            <div class="col-md-9">
                @if (@Model.Name == null)
                {
                    <p>No Name</p>
                }
                else
                {
                    <p>@Model.Name</p>
                }
            </div>

            <div class="col-md-3">
                <label>Email:</label>
            </div>
            <div class="col-md-9">
                @if (@Model.Email == null)
                {
                    <p>No Email Address</p>
                }
                else
                {
                    <p>@Model.Email</p>
                }
            </div>

            <div class="col-md-3">
                <label>Contact:</label>
            </div>
            <div class="col-md-9">
                @if (@Model.Contact == null)
                {
                    <p>No Contact Number</p>
                }
                else
                {
                    <p>@Model.Contact</p>
                }
            </div>

            <div class="col-md-3">
                <label>Joined:</label>
            </div>
            <div class="col-md-9">
                @if (@Model.JoinDate == null)
                {
                    <p>No Date</p>
                }
                else
                {
                    <p>@Model.JoinDate.Value.ToString("dd-MMM-yyyy")</p>
                }
            </div>

            <div class="col-md-3">
                <label>Last Edit:</label>
            </div>
            <div class="col-md-9">
                @if (@Model.EditDate == null)
                {
                    <p>No Date</p>
                }
                else
                {
                    <p>@Model.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                }
            </div>

            <div class="col-md-3">
                <br />
                <br />
                <br />
                <button type="button" class="btn btn-primary hotel-edit-btn btn-sm open-dialog" data-toggle="modal" data-target="#Update" data-id="@Model.Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit User Information</button>
            </div>
        </div>
        <!-- User Profile End -->
        <!-- Image -->
        <div class="col-md-6">
            <div class="user-pic">
                @if (@Model.Image == null)
                {
                    <img src="~/Images/no-image-found.jpg" alt="Profile Picture" />
                }
                else
                {
                    <img src=@Url.Content(Model.Image) alt="Profile Picture" />
                }
            </div>
        </div>
    </div>
</div>
<!-- User Profile End -->
<!-- User Profile Edit Modal Start -->
<div class="modal fade userProfile-edit-modal" id="Update" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit User Profile</b></h1>

                        <form method="post" action="/Home/EditUser" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Id</label>
                                <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" name="Name" placeholder="Enter Your Name">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" name="Image" placeholder="Upload Your Image">
                            </div>

                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name="Email" placeholder="Enter Your Email Address">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Contact No</label>
                                <input type="number" class="form-control" name="Contact" placeholder="Enter Your Contact No">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="Enter Your Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Profile Modal End -->
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")




