﻿@model HotelReservationSystem.Models.Hotel


@{
    ViewBag.Title = "Hotel Details";
}

@{
    Layout = "~/Views/Shared/_user-header.cshtml";
}

<section class="hotel-details" style="background-image:url(@Url.Content(Model.Image))">
    <div class="hotel-information">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
    </div>
</section>

<!-- Search Room Start -->
<section class="user-search">
    <div class="admin-heading">

        <!-- Page Headline -->
        <h1>Search Room</h1>

        <!-- List Search Form Start-->
        <form class="serach-form container">
            <div class="row">

                <div class="form-group col-md-4">
                    <label for="CheckIn">Check In</label>
                    <input type="date" class="form-control" id="Password" placeholder="Enter Your Destination Place">
                </div>

                <div class="form-group col-md-4">
                    <label for="CheckOut">Check Out</label>
                    <input type="date" class="form-control" id="Password" placeholder="Enter Your Destination Place">
                </div>

                <div class="form-group col-md-4">
                    <label for="Area">Rooms</label>
                    <input type="number" class="form-control" id="Password" placeholder="">
                </div>

                <div class="form-group col-md-offset-10 col-md-2">
                    <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
                </div>
            </div>
        </form>
        <!-- List Search Form End-->
    </div>
</section>
<!-- Search Room End -->
<!-- Room List Partial -->
@Html.Action("HotelDetailsPartial", "Home", new { id = Model.Id })
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")