﻿@model IEnumerable<HotelReservationSystem.Models.Room>

<!-- All Room Start -->
@foreach (var item in Model)
{
    <section class="container hotels">
        <div class="hotel">
            <div class="row">

                <!-- Image -->
                <div class="col-md-5 hotel-image">
                    @if (@item.Image == null)
                    {
                        <img src="~/Images/no-image-found.jpg" />
                    }
                    else
                    {
                        <img src="@Url.Content(@item.Image)" />
                    }
                </div>

                <!-- Info -->
                <div class="col-md-7 hotel-info">
                    <div class="col-md-7">
                        @if (@item.RoomTypeId == null)
                        {
                            <h3>No Type</h3>
                        }
                        else
                        {
                            <h3>@item.RoomType.Name</h3>
                        }

                        @if (@item.Price == 0)
                        {
                            <p>No Price</p>
                        }
                        else
                        {
                            <p>@item.Price TK</p>
                        }

                        <div class="row hotel-amenities">
                            <div class="col-md-2 amenity">
                                @if (@item.Image == null)
                                {
                                    <img src="~/Images/no-image-found.jpg" style="width:50px;" />
                                }
                                else
                                {
                                    <img src="@Url.Content(@item.Image)" style="width:50px;" />
                                }
                                @if (@item.RoomAmenities == null)
                                {
                                    <p>No Room Amenities</p>
                                }
                                else
                                {
                                    <p>@item.RoomAmenities</p>
                                }
                            </div>

                            <div class="col-md-2 amenity">
                                <i class="fas fa-swimmer"></i>
                                <p>Pool</p>
                            </div>

                            <div class="col-md-2 amenity">
                                <i class="fas fa-cocktail"></i>
                                <p>Bar</p>
                            </div>
                        </div>

                        @if (@item.TotalRoom == null)
                        {
                            <p>No Total Room</p>
                        }
                        else
                        {
                            <p>Total Room: @item.TotalRoom</p>
                        }

                        @if (@item.AvailableRoom == null)
                        {
                            <p>No Total Room</p>
                        }
                        else
                        {
                            <p>Available Room: @item.AvailableRoom</p>
                        }
                    </div>

                    <div class="col-md-5">
                        @Html.ActionLink("Reserve", "ReserveRoom", new { id = item.Id }, new { @class = "btn btn-primary room-btn" })
                        @*<button class="btn btn-primary room-btn"><a href="~/Home/ReserveRoom">Reserve</a></button>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<!-- All Room End -->
