﻿@*@model IEnumerable<HotelReservationSystem.Models.Hotel>*@
@model HotelReservationSystem.ViewModels.HomeHotelSearchVM


@{
    ViewBag.Title = "Search Hotel";
}

@{
    Layout = "~/Views/Shared/_user-header.cshtml";
}

<!-- Search Hotel Start -->
<section class="user-search">
    <div class="admin-heading">

        <!-- Page Headline -->
        <h1>Search Hotels</h1>

        <!-- List Search Form Start-->
        <form class="serach-form container" method="get" action="/Home/HotelSearch">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Area">Place, Hotel</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Your Destination Place or Hotel">
                </div>

                <div class="form-group col-md-4">
                    <label for="CheckIn">Check In</label>
                    <input type="date" class="form-control" name="checkIn" placeholder="Enter Your Destination Place">
                </div>

                <div class="form-group col-md-4">
                    <label for="CheckOut">Check Out</label>
                    <input type="date" class="form-control" name="checkOut" placeholder="Enter Your Destination Place">
                </div>

                <div class="form-group col-md-4">
                    <label for="Area">Rooms</label>
                    <input type="number" class="form-control" name="roomNo" placeholder="Enter Room No">
                </div>

                <div class="form-group col-md-offset-10 col-md-2">
                    <input type="submit" class="form-control search-btn" value="Search">
                </div>
            </div>
        </form>
        <!-- List Search Form End-->
    </div>
</section>
<!-- Search Hotel End -->
<!-- All Hotels Start -->
@*@if (Model.Count() == 0)
    {
        <p>No Match</p>
    }*@
@if (Model == null)
{

}
else
{
    //foreach (var item in Model.Hotel)
    //{
    foreach (var r1 in Model.Room)
    {


        //foreach (var r2 in Model.Reservation)
        //{
        <section class="container hotels">
            <div class="hotel">
                <div class="row">

                    <!-- Image -->
                    <div class="col-md-5 hotel-image">
                        <img src="@Url.Content(r1.Hotel.Image)" alt="Hotel Image" />
                    </div>

                    <!-- Info -->
                    <div class="col-md-7 hotel-info">
                        <div class="col-md-7">
                            <h3><b><a href="#">@r1.Hotel.Name</a></b></h3>
                            <h3><b><a href="#">room @r1.Id</a></b></h3>
                            @*<h3><b><a href="#">@item.Name</a></b></h3>
                                <p>@item.RoadAddress, @item.Area.Name, @item.District.Name</p>
                                <p>@item.Division.Name</p>*@

                            <div class="row hotel-amenities">
                                <div class="col-md-2 amenity">
                                    <i class="fas fa-wifi"></i>
                                    @*<p>@item.HotelAmenities</p>*@
                                </div>

                                <div class="col-md-2 amenity">
                                    <i class="fas fa-swimmer"></i>
                                    <p>Pool</p>
                                </div>

                                <div class="col-md-2 amenity">
                                    <i class="fas fa-cocktail"></i>
                                    <p>Bar</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            @*@Html.ActionLink("Details", "HotelDetails", new { id = item.Id }, new { @class = "btn btn-primary room-btn" })*@
                            @*<button class="btn btn-primary room-btn"><a href="~/Home/HotelDetails">Details</a></button>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    @*}
        }*@
}
<!-- All Hotels End -->
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")
