﻿@*@model HotelReservationSystem.Models.User*@
@model IEnumerable<HotelReservationSystem.Models.Reservation>

@{
    ViewBag.Title = "Home";
}

<!-- Header Start -->
<header class="index-header" style="background-image: url(../../Images/index-bg.jpeg);">
    <nav class="index-nav navbar-fixed-top">

        <!-- Top Nav Start -->
        @*<div class="top-nav">
                <div class="container">
                    <div class="row">

                        <!-- Registration Button -->
                        <div class="col-md-offset-8 col-md-2 log-reg">
                            <a class="index-nav-text" href="Registration" data-toggle="modal" data-target=".register-modal"><i class="fas fa-user-circle"></i> &nbsp;<b>Register</b></a>
                        </div>

                        <!-- Login Button -->
                        <div class="col-md-2 log-reg">
                            <a class="index-nav-text" href="Login" data-toggle="modal" data-target=".login-modal"><i class="fas fa-sign-in-alt"></i> &nbsp;<b>Login</b></a>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- Top Nav End -->
        <!-- Bottom Nav Start -->
        <div class="container bottom-nav">
            <div class="navbar navbar-expand-lg navbar-light bg-light">
                @*<a class="navbar-brand" asp-controller="Home" asp-action="Home"><img src="~/Images/logo_h.png" alt="Logo" /></a>*@
                <a class="navbar-brand" href="~/Home/Index"><i class="fas fa-h-square" style="font-size: 50px; color: #30caa0"></i></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link index-nav-text active" href="~/Home"><b>Home</b><span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link index-nav-text" href="~/Home/About"><b>About Us</b></a>
                        <a class="nav-item nav-link index-nav-text" id="#contact-us"><b>Contact Us</b></a>
                        <a class="nav-item nav-link index-nav-text" href="~/Admin"><b>Admin</b></a>
                        <a class="nav-item nav-link index-nav-text" href="~/Hotel"><b>Hotel</b></a>
                        <a class="nav-item nav-link index-nav-text" href="~/Home/Test"><b>Test</b></a>
                        <a class="nav-item nav-link index-nav-text" href="Registration" data-toggle="modal" data-target=".register-modal"><b>Register</b></a>
                        <a class="nav-item nav-link index-nav-text" href="Login" data-toggle="modal" data-target=".login-modal"><b>Login</b></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Nav End -->
    </nav>
</header>
<!-- Header End -->
<!-- Register Modal Start -->
<div class="modal fade register-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>User Registration</b></h1>

                        <form method="post" action="/Home/CreateRegistration">
                            @*<div class="form-group">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" id="Name" placeholder="Enter Your Name">
                                </div>

                                <div class="form-group">
                                    <label for="Image">Image</label>
                                    <input type="file" class="form-control" id="Image" placeholder="Upload Your Image">
                                </div>*@

                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name="Email" placeholder="Enter Your Email Address">
                            </div>

                            @*<div class="form-group">
                                    <label for="Contact">Contact No</label>
                                    <input type="number" class="form-control" id="Contact" placeholder="Enter Your Contact No">
                                </div>*@

                            <div class="form-group">
                                <label for="Contact">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="Enter Your Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Register">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Modal End -->
<!-- Login Modal Start -->
<div class="modal fade login-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12 modal-form">
                        <h1><b>Login</b></h1>

                        <form method="post" action="/Home/Login">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name="Email" placeholder="Enter Your Email">
                            </div>

                            <div class="form-group">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="Enter Your Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Login Modal End -->
<!-- Search Hotel Start -->
<section class="container index-search">
    <div class="container">

        <!-- Page Headline -->
        <h1>Search Hotels</h1>

        <!-- List Search Form Start-->
        <form class="serach-form container-fluid" method="get" action="/Home/Index">
            @*@Html.TextBox("searching") <input type="submit" value="search"/>*@
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Area">Place, Hotel</label>
                    <input type="text" class="form-control" id="searching" name="searching" placeholder="Enter Your Destination Place or Hotel">
                </div>

                <div class="form-group col-md-4">
                    <label for="CheckIn">Check In</label>
                    <input type="date" class="form-control" id="Password" placeholder="Enter Your Destination Place">
                </div>

                <div class="form-group col-md-4">
                    <label for="CheckOut">Check Out</label>
                    <input type="date" class="form-control" id="Password" placeholder="Enter Your Destination Place">
                </div>

                <div class="form-group col-md-4">
                    <label for="Area">Rooms</label>
                    <input type="number" class="form-control" id="Password" placeholder="No of Rooms">
                </div>

                <div class="form-group col-md-offset-9 col-md-2">
                    <input type="submit" class="form-control index-search-btn" id="submit" placeholder="Search" value="Search">
                    @*<button class="form-control search-btn"><a href="~/Home/HotelSearch">Search</a></button>*@
                </div>
            </div>
        </form>
        <!-- List Search Form End-->
    </div>
</section>
<!-- Search Hotel End -->
<!-- Popular Destination Start -->
<section class="places-index">
    <div class="container">
        <h1>Popular Destinations</h1>

        @if (Model.Count() == 0)
        {
            <p>No Match</p>
        }
        else
        {
            foreach (var item in Model)
            {
                <p>@item.Id</p>
            }
        }





        <div class="row place-image">
            <div class="cont col-md-4">
                <div class="images" style="background-image:url(../../Images/hotel.jpeg)">
                    <div class="img-cont row">
                        <div class="col-md-6">
                            <h6><b><i class="fas fa-map-marker-alt"></i> &nbsp;Dhaka</b></h6>
                        </div>
                        <div class="col-md-6">
                            <h6><b><i class="fas fa-hotel"></i> &nbsp;700 Hotels</b></h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cont col-md-4">
                <div class="images" style="background-image:url(../../Images/hotel.jpeg)">
                    <div class="img-cont row">
                        <div class="col-md-6">
                            <h6><i class="fas fa-map-marker-alt"></i> &nbsp;Dhaka</h6>
                        </div>
                        <div class="col-md-6">
                            <h6><i class="fas fa-hotel"></i> &nbsp;700 Hotels</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cont col-md-4">
                <div class="images" style="background-image:url(../../Images/hotel.jpeg)">
                    <div class="img-cont row">
                        <div class="col-md-6">
                            <h6><i class="fas fa-map-marker-alt"></i> &nbsp;Dhaka</h6>
                        </div>
                        <div class="col-md-6">
                            <h6><i class="fas fa-hotel"></i> &nbsp;700 Hotels</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cont col-md-4">
                <div class="images" style="background-image:url(../../Images/hotel.jpeg)">
                    <div class="img-cont row">
                        <div class="col-md-6">
                            <h6><i class="fas fa-map-marker-alt"></i> &nbsp;Dhaka</h6>
                        </div>
                        <div class="col-md-6">
                            <h6><i class="fas fa-hotel"></i> &nbsp;700 Hotels</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cont col-md-4">
                <div class="images" style="background-image:url(../../Images/hotel.jpeg)">
                    <div class="img-cont row">
                        <div class="col-md-6">
                            <h6><i class="fas fa-map-marker-alt"></i> &nbsp;Dhaka</h6>
                        </div>
                        <div class="col-md-6">
                            <h6><i class="fas fa-hotel"></i> &nbsp;700 Hotels</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cont col-md-4 ">
                <div class="images" style="background-image:url(../../Images/hotel.jpeg)">
                    <div class="img-cont row">
                        <div class="col-md-6">
                            <h6><i class="fas fa-map-marker-alt"></i> &nbsp;Dhaka</h6>
                        </div>
                        <div class="col-md-6">
                            <h6><i class="fas fa-hotel"></i> &nbsp;700 Hotels</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Popular Destination End -->
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")

@*Not working here*@
@*<script>
        $(window).scroll(function () {
            $('div').toggleClass('scrolled', $(this).scrollTop() > 600)
            $('li').toggleClass('scrolled', $(this).scrollTop() > 600)
            $('a').toggleClass('scrolled', $(this).scrollTop() > 600)
        });
    </script>*@