﻿@{
    ViewBag.Title = "Pending Reservation";
}

<!-- Header -->
@{
    Layout = "~/Views/Shared/_user-header.cshtml";
}

<div class="">
    <div class="payment-info">
        <h3>Your total amount is 6000 Tk </h3>
        <h5>You have to pay within 24 hours. Otherwise your reservation will be cancelled</h5>

        <h4>Account No: </h4>
        <h4>Bkash No: </h4>
    </div>

    <div class="confirm-payment">
        <h2>Confirm Your Payment</h2>
        <form class="container">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="exampleFormControlSelect1">Select Payment Method</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Card</option>
                        <option>Bkash</option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label for="Contact">Transaction No</label>
                    <input type="number" class="form-control" id="Contact" placeholder="Enter Transaction No">
                </div>

                <div class="form-group col-md-6">
                    <label for="Contact">Paid Amount</label>
                    <input type="number" class="form-control" id="Contact" placeholder="Enter Paid Amount">
                </div>

                <div class="form-group col-md-5 reserve-btn">
                    @*<input type="button" class="form-control btn-primary" id="submit" placeholder="Reserve" value="Reserve">*@
                    <button class="form-control btn-primary">Confirm</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")