﻿@model IEnumerable<HotelReservationSystem.Models.Reservation>


@{
    ViewBag.Title = "Your Reservations";
}

@{
    Layout = "~/Views/Shared/_user-header.cshtml";
}

<div class="container">
    <div class="admin-heading">

        <!-- Page Headline -->
        <h1>Your Reservations</h1>

        <!-- List Search Form Start-->
        <form class="serach-form">
            <div class="form-group">
                <div class="col-sm-offset-7 col-sm-3">
                    <input type="text" class="form-control" id="Search" placeholder="Search">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">
                    <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
                </div>
            </div>
        </form>
        <!-- List Search Form End-->
    </div>

    <!-- Reservation List Table Start -->
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead class="admin-table-head">
                <tr>
                    <th>Id</th>
                    <th>Hotel Name</th>
                    <th>Room No</th>
                    <th>Reserved For</th>
                    <th>Check In</th>
                    <th>Check Out</th>
                    <th>Total Amount</th>
                    <th>Reserved On</th>
                    <th>Paid On</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="showDetails pointer">@item.Id</td>
                    <td class="showDetails pointer">
                        @if (@item.RoomId == null)
                        {
                            <p>No Room</p>
                        }
                        else
                        {
                            <p>@item.Room.Hotel.Name</p> 
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.GuestName == null)
                        {
                            <p>No Name</p>
                        }
                        else
                        {
                            <p>@item.GuestName</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.CheckIn == null)
                        {
                            <p>No Check In Date</p>
                        }
                        else
                        {
                            <p>@item.CheckIn.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.CheckOut == null)
                        {
                            <p>No Check Out Date</p>
                        }
                        else
                        {
                            <p>@item.CheckOut.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.TotalAmount == null)
                        {
                            <p>No Amount</p>
                        }
                        else
                        {
                            <p>@item.TotalAmount</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.AddDate == null)
                        {
                            <p>Not Paid</p>
                        }
                        else
                        {
                            <p>@item.AddDate.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.EditDate == null)
                        {
                            <p>No Date</p>
                        }
                        else
                        {
                            <p>@item.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>
                </tr>
                }
                </tbody>
        </table>
    </div>
    <!-- Reservation List Table End -->
</div>
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")