﻿@model HotelReservationSystem.Models.Room

@{
    ViewBag.Title = "Room Reservation";
}

@{
    Layout = "~/Views/Shared/_user-header.cshtml";
}

<section class="room-details" style="background-image:url(@Url.Content(Model.Image)">
    <div class="hotel-information">
        <h1>@Model.RoomType.Name</h1>
        <p>@Model.Description</p>
    </div>
</section>

<!-- Search Hotel Start -->
@*<section class="user-search">
        <div class="admin-heading">

            <!-- Page Headline -->
            <h1>Search Room</h1>

            <!-- List Search Form Start-->
            <form class="serach-form container">
                <div class="row">

                    <div class="form-group col-md-3">
                        <label for="CheckIn">Check In</label>
                        <input type="date" class="form-control" id="Password" placeholder="Enter Your Destination Place">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="CheckOut">Check Out</label>
                        <input type="date" class="form-control" id="Password" placeholder="Enter Your Destination Place">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="Area">Rooms</label>
                        <input type="number" class="form-control" id="Password" placeholder="">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="Area">Person (Per Room)</label>
                        <input type="number" class="form-control" id="Password" placeholder="">
                    </div>

                    <div class="form-group col-md-offset-10 col-md-2">
                        <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
                    </div>
                </div>
            </form>
            <!-- List Search Form End-->
        </div>
    </section>*@
<!-- Search Hotel End -->
<!-- All Hotels Start -->
<section class="container">
    <div class=" room">
        <div class="row">


            <!-- Info -->
            <div class="col-md-12 hotel-info">
                <div class="row hotel-amenities">
                    <div class="col-md-2 amenity">
                        <i class="fas fa-wifi"></i>
                        <p>@Model.RoomAmenities</p>
                    </div>

                    <div class="col-md-2 amenity">
                        <i class="fas fa-swimmer"></i>
                        <p>Pool</p>
                    </div>

                    <div class="col-md-2 amenity">
                        <i class="fas fa-cocktail"></i>
                        <p>Bar</p>
                    </div>
                </div>
            </div>

            <h4>Price: @Model.Price</h4>
            <h6>Total Room: @Model.TotalRoom</h6>
            <h6>Available Room: @Model.AvailableRoom</h6>
        </div>
    </div>
</section>

<!-- Room Details End -->
<!-- Reservation Partial Start -->
@*@Html.Action("ReserveRoomPartial", "Home", new { id = Model.Id })*@

<section class=" reservation">
    <h1>Reserve Now</h1>
    <form class="container" method="post" action="/Home/CreateReservation">
        <div class="row">


            <input type="hidden" name="RoomId" value="@Model.Id" class="form-control">
            <input type="hidden" name="AvailableRoom" value="@Model.AvailableRoom" class="form-control">
            <div class="form-group col-md-6">
                <label for="Name">Guest Name</label>
                <input type="text" class="form-control" name="GuestName" placeholder="Enter Guest Name">
            </div>

            <div class="form-group col-md-6">
                <label for="Contact">Guest Contact No</label>
                <input type="number" class="form-control" name="Contact" placeholder="Enter Contact No">
            </div>

            <div class="form-group col-md-6">
                <label for="Contact">Check In</label>
                <input type="date" class="form-control" name="CheckIn" placeholder="Enter Your Password">
            </div>

            <div class="form-group col-md-6">
                <label for="Date">Check Out</label>
                <input type="date" class="form-control" name="CheckOut" placeholder="Date">
            </div>

            <div class="form-group col-md-6">
                <label for="Contact">Room No</label>
                <input type="number" class="form-control" name="RoomNo" placeholder="Enter the No of Rooms You Need">
            </div>

            <div class="form-group col-md-12">
                <label for="Contact">Total Price</label>
                <input type="number" readonly="readonly" class="form-control" name="TotalAmount" value="@Model.Price" placeholder="Price">
            </div>

            <div class="form-group col-md-6 reserve-btn">
                <input type="submit" class="form-control btn-primary" value="Reserve">
            </div>
        </div>
    </form>
</section>
<!-- Reservation End -->
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")

@section scripts
{
    //Update
    $(document).on("click", ".open-dialog", function () {
    var empid = $(this).data("id");
    $(".modal-body #Id").val(empid);
    });
}