﻿@model HotelReservationSystem.Models.Room


@{
    ViewBag.Title = "Room List";
}

@{
    Layout = "~/Views/Shared/_hotel-sideNav.cshtml";
}

<div class="admin-heading">

    <!-- Page Headline -->
    <h1>Room List</h1>

    <!-- List Search Form Start-->
    <form class="serach-form">
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3">
                <input type="text" class="form-control" id="Search" placeholder="Search">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
            </div>
        </div>
    </form>
    <!-- List Search Form End-->
    <!-- Add New Button -->
    <button class="btn btn-primary" data-toggle="modal" data-target=".room-modal"><i class="fas fa-plus-circle"></i> &nbsp;<b>New Room</b></button>
</div>

<!-- Room Modal Start -->
<div class="modal fade room-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Add New Room</b></h1>
                        @*@Html.Partial("~/Views/Home/AddorEdit.cshtml")*@
                        <form method="post" action="/Home/AddorEdit" enctype="multipart/form-data">
                            <input type="hidden" name="Id" id="Id">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Hotel</label>
                                @*@Html.DropDownList("HotelId", null, htmlAttributes: new { @class = "form-control" })*@
                            </div>
                            <div class="form-group">
                                <label for="RoomNo">Room No</label>
                                <input type="text" class="form-control" name="RoomNo" placeholder="Enter Room No">
                            </div>

                            <div class="form-group">
                                <label for="Name">Description</label>
                                <input type="text" class="form-control" name="Description" placeholder="Enter Description">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" name="Image" placeholder="Upload Image">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Room Type</label>
                                <div style="width:100%">
                                    @Html.ListBoxFor(model => model.RoomTypeIdsArray, new MultiSelectList(Model.RoomTypeIds, "Id", "Name"), new { id = "multiSelectDropdown", multiple = "multiple" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Select Room Amenities</label>
                                @*@Html.DropDownList("RoomAmenityId", null, htmlAttributes: new { @class = "form-control" })*@
                            </div>

                            <div class="form-group">
                                <label for="Price">Price</label>
                                <input type="number" class="form-control" name="Price" placeholder="Enter Price">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Modal End -->
<!-- Room List Table Start -->
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead class="admin-table-head">
            <tr>
                <th>Id</th>
                <th>Room No</th>
                <th>Description</th>
                <th>Image</th>
                <th>Room Type</th>
                <th>Room Amenities</th>
                <th>Price</th>
                <th>Added</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="showDetails pointer">Id</td>
                <td class="showDetails pointer">Room No</td>
                <td class="showDetails pointer">Description</td>
                <td class="showDetails pointer"><img src="~/Images/room.jpeg" style="width:100px;" /></td>
                <td class="showDetails pointer">Room Type</td>
                <td class="showDetails pointer">Room Amenities</td>
                <td class="showDetails pointer">Price</td>
                <td class="showDetails pointer">Added</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm openDiag" data-toggle="modal" data-target=".room-edit-modal" data-id="Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit</button>
                    <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                </td>
            </tr>

            <tr>
                <td class="showDetails pointer">Id</td>
                <td class="showDetails pointer">Room No</td>
                <td class="showDetails pointer">Description</td>
                <td class="showDetails pointer"><img src="~/Images/room.jpeg" style="width:100px;" /></td>
                <td class="showDetails pointer">Room Type</td>
                <td class="showDetails pointer">Room Amenities</td>
                <td class="showDetails pointer">Price</td>
                <td class="showDetails pointer">Added</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm openDiag" data-toggle="modal" data-target=".room-edit-modal" data-id="Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit</button>
                    <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                </td>
            </tr>

            <tr>
                <td class="showDetails pointer">Id</td>
                <td class="showDetails pointer">Room No</td>
                <td class="showDetails pointer">Description</td>
                <td class="showDetails pointer"><img src="~/Images/room.jpeg" style="width:100px;" /></td>
                <td class="showDetails pointer">Room Type</td>
                <td class="showDetails pointer">Room Amenities</td>
                <td class="showDetails pointer">Price</td>
                <td class="showDetails pointer">Added</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm openDiag" data-toggle="modal" data-target=".room-edit-modal" data-id="Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit</button>
                    <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Room List Table End -->
<!-- Room Edit Modal Start -->
<div class="modal fade room-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit Room</b></h1>

                        <form>
                            <div class="form-group">
                                <label for="RoomNo">Room No</label>
                                <input type="text" class="form-control" id="Name" placeholder="Enter Room No">
                            </div>

                            <div class="form-group">
                                <label for="Name">Description</label>
                                <input type="text" class="form-control" id="Name" placeholder="Enter Description">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" id="Image" placeholder="Upload Image">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select Room Type</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Delux</option>
                                    <option>Delux King</option>
                                    <option>Delux Queen</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect2">Select Room Amenities</label>
                                <select multiple class="form-control" id="exampleFormControlSelect2">
                                    <option>WiFi</option>
                                    <option>Fridge</option>
                                    <option>Kitchen</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="Price">Price</label>
                                <input type="number" class="form-control" id="Password" placeholder="Enter Price">
                            </div>

                            <div class="form-group">
                                <label for="Date">Date</label>
                                <input type="date" class="form-control" id="AddDate" placeholder="Date">
                            </div>

                            <div class="form-group">
                                <input type="button" class="form-control btn-primary" id="submit" placeholder="Add" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Edit Modal End -->

@section scripts{
    <script>
        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%"
            });
        });
    </script>
}