﻿@model HotelReservationSystem.Models.HotelAccount


<!-- Account Info Modal Start -->
<div class="modal fade accountInfo-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Add Account Information</b></h1>

                        <form method="post" action="/Hotel/CreateHotelAccount">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Payment Method</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.PaymentMethodId, new SelectList(Model.PaymentMethodIds, "Id", "Method"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Name">Account No</label>
                                <input type="number" class="form-control" name="AccountNo" placeholder="Enter No">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Account Info Modal End -->
<!-- Account Info Edit Modal Start -->
<div class="modal fade accountInfo-edit-modal" id="Update" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit Account Information</b></h1>

                        <form method="post" action="/Hotel/EditHotelAccount">
                            <div class="form-group">
                                <label for="Name">Id</label>
                                <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Payment Method</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.PaymentMethodId, new SelectList(Model.PaymentMethodIds, "Id", "Method"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Name">Account No</label>
                                <input type="number" class="form-control" name="AccountNo" placeholder="Enter No">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Account Info Edit Modal End -->

@section scripts{
    <script>
        $(function () {
            $("#normalDropdown").chosen({
                width: "100%"
            });
        });
    </script>
}