﻿@model HotelReservationSystem.Models.Hotel

@{
    ViewBag.Title = "Hotel Dashboard";
}

@{
    Layout = "~/Views/Shared/_hotel-sideNav.cshtml";
}

<!-- Hotel Profile Start-->
<div class="row">

    <!-- Profile Card Start-->
    <div class="col-md-5">
        <div class="admin-profile-card">

            <!-- Profile Card Image -->
            <div class="admin-profile-image" style="background-image:url(
                    @if (@Model.Name == null)
                    {
                        @Url.Content("/Images/no-image-found.jpg")
                    }
                    else
                    {
                        @Url.Content(@Model.Image)
                    }
                 )">
            </div>

            <!-- Profile Card Text -->
            <div class="admin-profile-text">
                <h5>Hotel</h5>
                <h5>Id #@Model.Id</h5>
                <div class="admin-name">
                    @if (@Model.Name == null)
                    {
                        <h4><b>No Name</b></h4>
                    }
                    else
                    {
                        <h4><b>@Model.Name</b></h4>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Card End -->
    <!-- Personal Information Start-->
    <div class="col-md-7">
        <div class="admin-info">
            <div class="admin-info-head">
                <h4><b>Hotel Information</b></h4>
            </div>
            <div class="admin-info-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-3">
                                <label>Description:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.Description == null)
                                {
                                    <p>No Description</p>
                                }
                                else
                                {
                                    <p>@Model.Description</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Email:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.Email == null)
                                {
                                    <p>No Email Address</p>
                                }
                                else
                                {
                                    <p>@Model.Email</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Contact:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.Contact == null)
                                {
                                    <p>No Contact Number</p>
                                }
                                else
                                {
                                    <p>@Model.Contact</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Road:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.RoadAddress == null)
                                {
                                    <p>No Road Address</p>
                                }
                                else
                                {
                                    <p>@Model.RoadAddress</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Area:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.AreaId == null)
                                {
                                    <p>No Area</p>
                                }
                                else
                                {
                                    <p>@Model.AreaId</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>District:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.DistrictId == null)
                                {
                                    <p>No District</p>
                                }
                                else
                                {
                                    <p>@Model.DistrictId</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Division:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.DivisionId == null)
                                {
                                    <p>No Division</p>
                                }
                                else
                                {
                                    <p>@Model.DivisionId</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Rating:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.HotelRatingId == null)
                                {
                                    <p>No Rating</p>
                                }
                                else
                                {
                                    <p>@Model.HotelRatingId</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Hotel Amenities:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.HotelAmenities == null)
                                {
                                    <p>No Hotel Amenity</p>
                                }
                                else
                                {
                                    <p>@Model.HotelAmenities</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Joined:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.JoinDate == null)
                                {
                                    <p>No Date</p>
                                }
                                else
                                {
                                    <p>@Model.JoinDate.Value.ToString("dd-MMM-yyyy")</p>
                                }
                            </div>

                            <div class="col-md-3">
                                <label>Last Edit:</label>
                            </div>
                            <div class="col-md-9">
                                @if (@Model.EditDate == null)
                                {
                                    <p>No Date</p>
                                }
                                else
                                {
                                    <p>@Model.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Personal Information End -->
</div>
<!-- Hotel Profile End -->

<button type="button" class="btn btn-primary hotel-edit-btn btn-sm open-dialog" data-toggle="modal" data-target="#Update" data-id="@Model.Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit Hotel Information</button>

<!-- Hotel Dashboard Edit Modal Start -->
<div class="modal fade hotelDashboard-edit-modal" id="Update" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit Hotel Information</b></h1>

                        <form method="post" action="/Hotel/EditHotel" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Id</label>
                                <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" name="Name" placeholder="@Model.Name">
                            </div>

                            <div class="form-group">
                                <label for="Image">Description</label>
                                <input type="text" class="form-control" name="Description" placeholder="@Model.Description">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" name="Image" placeholder="@Model.Image">
                            </div>

                            <div class="form-group">
                                <label for="Age">Email</label>
                                <input type="email" class="form-control" name="Email" placeholder="@Model.Email">
                            </div>

                            <div class="form-group">
                                <label for="Contact">Contact No</label>
                                <input type="number" class="form-control" name="Contact" placeholder="@Model.Contact">
                            </div>

                            <div class="form-group">
                                <label for="RoadAddress">Road Address</label>
                                <input type="text" class="form-control" name="RoadAddress" placeholder="@Model.RoadAddress">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Area</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.AreaId, new SelectList(Model.AreaIds, "Id", "Name"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">District</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.DistrictId, new SelectList(Model.DistrictIds, "Id", "Name"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Division</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.DivisionIds, "Id", "Name"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label for="exampleFormControlSelect1">Hotel Rating</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>7</option>
                                    <option>5</option>
                                    <option>3</option>
                                </select>
                            </div>*@

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Hotel Rating</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.HotelRatingId, new SelectList(Model.HotelRatingIds, "Id", "Rating"), new { id = "normalDropdown"})
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label for="exampleFormControlSelect2">Select Hotel Amenities</label>
                                <select multiple class="form-control" id="exampleFormControlSelect2">
                                    <option>WiFi</option>
                                    <option>Restaurant</option>
                                    <option>Pool</option>
                                </select>
                            </div>*@

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Hotel Amenities</label>
                                <div style="width:100%">
                                    @Html.ListBoxFor(model => model.HotelAmenityIdsArray, new MultiSelectList(Model.HotelAmenityIds, "Id", "Name"), new { id = "multiSelectDropdown", multiple = "multiple" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Contact">Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="@Model.Password">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hotel Dashboard Modal End -->
<!-- Dashboard Body End-->

@section scripts{
    <script>
        $(function () {
            $("#normalDropdown").chosen({
                width: "100%"
            });
        });
    </script>

    <script>
        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%"
            });
        });
    </script>
}
