﻿@{
    ViewBag.Title = "Hotel Login";
}


<!-- Header Start -->
<header class="user-header">
    <nav class="user-nav navbar-fixed-top">

        <!-- Bottom Nav Start -->
        <div class="user-bottom-nav">
            <div class="container navbar navbar-expand-lg navbar-light bg-light">
                @*<a class="navbar-brand" asp-controller="Home" asp-action="Home"><img src="~/Images/logo_h.png" alt="Logo" /></a>*@
                <a class="navbar-brand" href="~/Home/Index"><i class="fas fa-h-square" style="font-size: 50px; color: #30caa0"></i></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link user-nav-text active" href="~/Home"><b>Home</b><span class="sr-only">(current)</span></a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Nav End -->
    </nav>
</header>
<!-- Header End -->
<!-- Login Start -->


<div class="admin-login">
    <h2><b>Hotel Login</b></h2>

    <form class="login-form"  method="post" action="/Hotel/Login">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" name="Email" placeholder="Enter Your Email">
        </div>

        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Enter Your Password">
        </div>

        <div class="form-group">
            <input type="submit" class="form-control btn-primary login-btn" value="Login">
        </div>
    </form>
</div>
<!-- Login End -->
<!-- Footer -->
@Html.Partial("~/Views/Shared/_footer.cshtml")

@*Not working here*@
@*<script>
        $(window).scroll(function () {
            $('div').toggleClass('scrolled', $(this).scrollTop() > 600)
            $('li').toggleClass('scrolled', $(this).scrollTop() > 600)
            $('a').toggleClass('scrolled', $(this).scrollTop() > 600)
        });
    </script>*@