﻿@model IEnumerable<HotelReservationSystem.Models.Reservation>


@{
    ViewBag.Title = "Reservation List";
}

@{
    Layout = "~/Views/Shared/_hotel-sideNav.cshtml";
}

<div class="admin-heading">

    <!-- Page Headline -->
    <h1>Reservation List</h1>

    <!-- List Search Form Start-->
    <form class="serach-form">
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3">
                <input type="text" class="form-control" id="Search" placeholder="Search">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
            </div>
        </div>
    </form>
    <!-- List Search Form End-->
</div>

<!-- Reservation List Table Start -->
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead class="admin-table-head">
            <tr>
                <th>Hotel</th>
                <th>Id</th>
                <th>Reserved By</th>
                <th>Reserved For</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Transaction Id</th>
                <th>Total Amount</th>
                <th>Resrved On</th>
                <th>Paid On</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.TransactionNo != null && item.Status == true)
                {
                    <tr>
                        <td class="showDetails pointer">
                            @if (@item.RoomId == null)
                            {
                                <p>No Room</p>
                            }
                            else
                            {
                                <p>@item.Room.Hotel.Name</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.RoomId == null)
                            {
                                <p>No Room</p>
                            }
                            else
                            {
                                <p>@item.Room.Hotel.Area.Name</p>
                            }
                        </td>
                        <td class="showDetails pointer">@item.Id</td>
                        <td class="showDetails pointer">
                            @if (@item.UserId == 0)
                            {
                                <p>No Name</p>
                            }
                            else
                            {
                                <p>@item.User.Name</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.GuestName == null)
                            {
                                <p>No Name</p>
                            }
                            else
                            {
                                <p>@item.GuestName</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.CheckIn == null)
                            {
                                <p>No Check In Date</p>
                            }
                            else
                            {
                                <p>@item.CheckIn.Value.ToString("dd-MMM-yyyy")</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.CheckOut == null)
                            {
                                <p>No Check Out Date</p>
                            }
                            else
                            {
                                <p>@item.CheckOut.Value.ToString("dd-MMM-yyyy")</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.TotalAmount == null)
                            {
                                <p>No Amount</p>
                            }
                            else
                            {
                                <p>@item.TotalAmount</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.TransactionNo == null)
                            {
                                <p>No Transaction No</p>
                            }
                            else
                            {
                                <p>@item.TransactionNo</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.AddDate == null)
                            {
                                <p>Not Paid</p>
                            }
                            else
                            {
                                <p>@item.AddDate.Value.ToString("dd-MMM-yyyy")</p>
                            }
                        </td>
                        <td class="showDetails pointer">
                            @if (@item.EditDate == null)
                            {
                                <p>No Date</p>
                            }
                            else
                            {
                                <p>@item.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                            }
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
<!-- Reservation List Table End -->
<!-- Delete Modal Start -->
<div class="modal fade" id="Delete" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>

            </div>

            <div class="modal-body">
                <p><h3>Are you sure you want to delete this?</h3></p>

            </div>
            <div class="modal-footer">
                <form method="post" action="/Hotel/DeleteReservation">
                    <div class="form-group">
                        <label for="Name">Id</label>
                        <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button class="btn" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal end -->
