﻿@model HotelReservationSystem.Models.Room


<!-- Room Modal Start -->
<div class="modal fade room-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Add New Room</b></h1>
                        <form method="post" action="/Hotel/CreateRoom" enctype="multipart/form-data">
                            @*<div class="form-group">
            <label for="exampleFormControlSelect1">Hotel</label>
            <div style="width:100%">
                @Html.DropDownListFor(model => model.AreaId, new SelectList(Model.AreaIds, "Id", "Name"), new { id = "normalDropdown" })
            </div>
        </div>*@
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Room Type</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.RoomTypeId, new SelectList(Model.RoomTypeIds, "Id", "Name"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Name">Description</label>
                                <input type="text" class="form-control" name="Description" placeholder="Enter Description">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" name="Image" placeholder="Upload Image">
                            </div>

                            <div class="form-group">
                                <label for="Name">Total Room</label>
                                <input type="number" class="form-control" name="TotalRoom" placeholder="Enter Total Room">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Room Amenities</label>
                                <div style="width:100%">
                                    @Html.ListBoxFor(model => model.RoomAmenityIdsArray, new MultiSelectList(Model.RoomAmenityIds, "Id", "Name"), new { id = "multiSelectDropdown1", multiple = "multiple" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Price">Price</label>
                                <input type="number" class="form-control" name="Price" placeholder="Enter Price">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Modal End -->
<!-- Room Edit Modal Start -->
<div class="modal fade room-edit-modal" id="Update" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">


                    <div class="col-md-12 modal-form">
                        <h1><b>Edit Room</b></h1>

                        <form method="post" action="/Hotel/EditRoom" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Id</label>
                                <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Room Type</label>
                                <div style="width:100%">
                                    @Html.DropDownListFor(model => model.RoomTypeId, new SelectList(Model.RoomTypeIds, "Id", "Name"), new { id = "normalDropdown" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Name">Description</label>
                                <input type="text" class="form-control" name="Description" placeholder="Enter Description">
                            </div>

                            <div class="form-group">
                                <label for="Image">Image</label>
                                <input type="file" class="form-control" name="Image" placeholder="Upload Image">
                            </div>

                            <div class="form-group">
                                <label for="Name">Total Room</label>
                                <input type="number" class="form-control" name="TotalRoom" placeholder="Enter Total Room">
                            </div>

                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Room Amenities</label>
                                <div style="width:100%">
                                    @Html.ListBoxFor(model => model.RoomAmenityIdsArray, new MultiSelectList(Model.RoomAmenityIds, "Id", "Name"), new { id = "multiSelectDropdown1", multiple = "multiple" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Price">Price</label>
                                <input type="number" class="form-control" name="Price" placeholder="Enter Price">
                            </div>

                            <div class="form-group">
                                <input type="submit" class="form-control btn-primary" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Edit Modal End -->

@section scripts{
    <script>
        $(function () {
            $("#normalDropdown").chosen({
                width: "100%"
            });
        });
    </script>

    <script>
        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%"
            });
        });
    </script>

    <script>
        $(function () {
            $("#multiSelectDropdown1").chosen({
                width: "100%"
            });
        });
    </script>
}