﻿@model IEnumerable<HotelReservationSystem.Models.Room>

@{
    ViewBag.Title = "Room List";
}

@{
    Layout = "~/Views/Shared/_hotel-sideNav.cshtml";
}

<div class="admin-heading">

    <!-- Page Headline -->
    <h1>Room List</h1>

    <!-- List Search Form Start-->
    <form class="serach-form">
        <div class="form-group">
            <div class="col-sm-offset-7 col-sm-3">
                <input type="text" class="form-control" id="Search" placeholder="Search">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" class="form-control search-btn" id="submit" placeholder="Search" value="Search">
            </div>
        </div>
    </form>
    <!-- List Search Form End-->
    <!-- Add New Button -->
    <button class="btn btn-primary" data-toggle="modal" data-target=".room-modal"><i class="fas fa-plus-circle"></i> &nbsp;<b>New Room</b></button>
</div>

<!-- Partial Room Modal Start -->
@Html.Action("RoomListPartial", "Hotel")

<!-- Room List Table Start -->
<div class="table-responsive-md">
    <table class="table table-hover">
        <thead class="admin-table-head">
            <tr>
                <th>Id</th>
                <th>Hotel</th>
                <th>Description</th>
                <th>Image</th>
                <th>Room Type</th>
                <th>Total Room</th>
                <th>Available Room</th>
                <th>Room Amenities</th>
                <th>Price</th>
                <th>Last Edit</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="showDetails pointer">@item.Id</td>
                    <td class="showDetails pointer">
                        @if (@item.HotelId == null)
                        {
                            <p>No Hotel</p>
                        }
                        else
                        {
                            <p>@item.Hotel.Name</p>
                        }
                    </td>

                    <td class="showDetails pointer">
                        @if (@item.Description == null)
                        {
                            <p>No Description</p>
                        }
                        else
                        {
                            <p>@item.Description</p>
                        }
                    </td>
                    <td class="showDetails pointer">

                        @if (@item.Image == null)
                        {
                            <img src="~/Images/no-image-found.jpg" style="width:100px;" />
                        }
                        else
                        {
                            <img src="@Url.Content(@item.Image)" style="width:100px;" />
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.RoomTypeId == null)
                        {
                            <p>No Room Types</p>
                        }
                        else
                        {
                            <p>@item.RoomType.Name</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.TotalRoom == null)
                        {
                            <p>No Room Types</p>
                        }
                        else
                        {
                            <p>@item.TotalRoom</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.AvailableRoom == null)
                        {
                            <p>No Room Types</p>
                        }
                        else
                        {
                            <p>@item.AvailableRoom</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.RoomAmenities == null)
                        {
                            <p>No Room Amenities</p>
                        }
                        else
                        {
                            <p>@item.RoomAmenities</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.Price == 0)
                        {
                            <p>No Price</p>
                        }
                        else
                        {
                            <p>@item.Price</p>
                        }
                    </td>
                    <td class="showDetails pointer">
                        @if (@item.EditDate == null)
                        {
                            <p>No Date</p>
                        }
                        else
                        {
                            <p>@item.EditDate.Value.ToString("dd-MMM-yyyy")</p>
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm open-dialog" data-toggle="modal" data-target="#Update" data-id="@item.Id"><span class="glyphicon glyphicon-edit" style="vertical-align:middle;margin-top: -5px"></span> Edit</button>
                        <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Delete" data-id="@item.Id"><span class="glyphicon glyphicon-trash" style="vertical-align:middle;margin-top: -5px"></span> Delete</button>

                        @if (item.Status == true)
                        {
                            <button type="button" class="btn btn-primary btn-sm openDiag" data-toggle="modal" data-target="#Block" data-id="@item.Id"><span class="glyphicon glyphicon-ban-circle" style="vertical-align:middle;margin-top: -5px"></span> Block</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger btn-sm openDiag" data-toggle="modal" data-target="#Unblock" data-id="@item.Id"><span class="glyphicon glyphicon-ok-circle" style="vertical-align:middle;margin-top: -5px"></span> Unblock</button>
                        }
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<!-- Room List Table End -->
<!-- Delete Modal Start -->
<div class="modal fade" id="Delete" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete</h4>

            </div>

            <div class="modal-body">
                <p><h3>Are you sure you want to delete this?</h3></p>

            </div>
            <div class="modal-footer">
                <form method="post" action="/Hotel/DeleteRoom">
                    <div class="form-group">
                        <label for="Name">Id</label>
                        <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button class="btn" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal end -->
<!-- Block Modal Start -->
<div class="modal fade" id="Block" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Block</h4>

            </div>

            <div class="modal-body">
                <p><h3>Are you sure you want to block this?</h3></p>

            </div>
            <div class="modal-footer">
                <form method="post" action="/Hotel/BlockRoom">
                    <div class="form-group">
                        <label for="Name">Id</label>
                        <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Block</button>
                    <button class="btn" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Block Modal end -->
<!-- Unblock Modal Start -->
<div class="modal fade" id="Unblock" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Unblock</h4>

            </div>

            <div class="modal-body">
                <p><h3>Are you sure you want to unblock this?</h3></p>

            </div>
            <div class="modal-footer">
                <form method="post" action="/Hotel/UnblockRoom">
                    <div class="form-group">
                        <label for="Name">Id</label>
                        <input type="text" readonly="readonly" name="Id" id="Id" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Unblock</button>
                    <button class="btn" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Unblock Modal end -->

@section scripts{
    <script>
        $(function () {
            $("#normalDropdown").chosen({
                width: "100%"
            });
        });
    </script>

    <script>
        $(function () {
            $("#multiSelectDropdown").chosen({
                width: "100%"
            });
        });
    </script>
}